In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot

### Import Data

In [2]:
raw = pd.read_csv('./Capmpingi_employee_reviews.csv')

### Explore Data

In [3]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26993 entries, 0 to 26992
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                25912 non-null  object
 1   Place                24597 non-null  object
 2   Job_type             11556 non-null  object
 3   Department           22083 non-null  object
 4   Date                 25915 non-null  object
 5   Overall_rating       25898 non-null  float64
 6   work_life_balance    26977 non-null  float64
 7   skill_development    26976 non-null  float64
 8   salary_and_benefits  26947 non-null  float64
 9   job_security         26943 non-null  float64
 10  career_growth        26931 non-null  float64
 11  work_satisfaction    26909 non-null  float64
 12  Likes                23864 non-null  object
 13  Dislikes             22966 non-null  object
dtypes: float64(7), object(7)
memory usage: 2.9+ MB

In [4]:
raw.shape

(26993, 14)

In [14]:
raw.head(2)

,title,place,job_type,department,date,overall_rating,work_life_balance,skill_development,salary_and_benefits,job_security,career_growth,work_satisfaction,likes,dislikes
0,Senior Consultant,Pune,Full Time,General Insurance Department,8 Sep 2023,Good,Good,Normal,Normal,Good,Good,Good,Deserved candidates are promoted promptly.\nUn...,With designation promotions good salary increm...
1,Senior Software Engineer,"Kolkata, West Bengal",Full Time,Software Development Department,7 Sep 2023,Normal,Good,Good,Normal,Good,Good,Normal,You got lot of learning platform and monthly l...,You will get fully not tech project.\nThere is...

In [15]:
raw.describe()

,title,place,job_type,department,date,overall_rating,work_life_balance,skill_development,salary_and_benefits,job_security,career_growth,work_satisfaction,likes,dislikes
count,26993,26993,11556,26993,25915,26993,26977,26993,26993,26993,26993,26993,23864,22966
unique,4240,831,5,620,739,6,5,6,6,6,6,6,17505,17558
top,Associate Consultant,Bangalore,Full Time,Software Development Department,6 May 2022,Good,Very Good,Good,Normal,Very Good,Very Good,Normal,Nothing,Nothing
freq,3013,2977,11340,8936,295,8465,8656,8333,7459,9659,8822,6931,815,943

### Data cleaning

### Data wrangling

#### Rename columns

In [6]:
# new_columns = {
#     'work_life_balance': 'Work_life_balance',
#     'skill_development': 'Skill_development',
#     'salary_and_benefits': 'Salary_and_benefits',
#     'job_security': 'Job_security',
#     'career_growth': 'Career_growth',
#     'work_satisfaction' : 'Work_satisfaction'
# }
raw.rename(columns=str.lower,inplace=True)

#### Replace nans with not responded

In [23]:
raw.isnull().count()

title                  26993
place                  26993
job_type               26993
department             26993
date                   26993
overall_rating         26993
work_life_balance      26993
skill_development      26993
salary_and_benefits    26993
job_security           26993
career_growth          26993
work_satisfaction      26993
likes                  26993
dislikes               26993
dtype: int64

In [24]:
raw['title'].replace(np.nan,'Other',inplace=True)
raw['place'].replace(np.nan,'Other',inplace=True)
raw['department'].replace(np.nan,'Other',inplace=True)
raw['overall_rating'].replace(np.nan,'Unknown',inplace=True)
raw['work_satisfaction'].replace(np.nan,'Unknown',inplace=True)
raw['skill_development'].replace(np.nan,'Unknown',inplace=True)
raw['salary_and_benefits'].replace(np.nan,'Unknown',inplace=True)
raw['job_security'].replace(np.nan,'Unknown',inplace=True)
raw['career_growth'].replace(np.nan,'Unknown',inplace=True)
raw['work_satisfaction'].replace(np.nan,'Unknown',inplace=True)

#### Convert rating to text in place of number rating

In [9]:
raw['overall_rating'].unique()

array([4.0, 3.0, 1.0, 5.0, 2.0, 'Unknown'], dtype=object)

In [10]:
rating = {1:'Not at all',2:'Not so',3:'Normal',4:'Good',5:'Very Good'}

In [11]:
raw.replace(rating,inplace=True)
raw.head(5)

,title,place,job_type,department,date,overall_rating,work_life_balance,skill_development,salary_and_benefits,job_security,career_growth,work_satisfaction,likes,dislikes
0,Senior Consultant,Pune,Full Time,General Insurance Department,8 Sep 2023,Good,Good,Normal,Normal,Good,Good,Good,Deserved candidates are promoted promptly.\nUn...,With designation promotions good salary increm...
1,Senior Software Engineer,"Kolkata, West Bengal",Full Time,Software Development Department,7 Sep 2023,Normal,Good,Good,Normal,Good,Good,Normal,You got lot of learning platform and monthly l...,You will get fully not tech project.\nThere is...
2,Senior Consultant,"Bengaluru/Bangalore, Karnataka",Full Time,Software Development Department,6 Sep 2023,Good,Good,Very Good,Normal,Normal,Good,Normal,Based on which Business Unit you are you will ...,Some top level management people bring bad nam...
3,Senior Consultant,"Pune, Maharashtra",Full Time,Banking Operations Department,6 Sep 2023,Not at all,Not so,Good,Not at all,Good,Not at all,Not at all,Some client projects are good as they use the ...,"Culture, micro management, unprofessional beha..."
4,Team Lead,"Noida, Uttar Pradesh",Full Time,IT Infrastructure Services Department,5 Sep 2023,Good,Very Good,Good,Good,Good,Good,Normal,"I have worked in IBM (4 years) ,TCS (1 year) ,...",Medical insurance amount is quite low compare ...

### Data analysis

In [12]:
# grouping = raw.groupby(['title'])
# grouping.get_group('overall_rating')

grouping = raw.groupby(by=['title'])
# grouping.get_group('title')
grouping['job_type'].value_counts()

title                                    job_type
(google Maping                           Full Time    1
-Senior Consultant                       Full Time    1
.net Architect                           Full Time    1
.net Developer                           Full Time    1
.net Trainer                             Full Time    1
                                                     ..
Worked As A Siebel Associate Consultant  Full Time    1
Worker                                   Full Time    1
Working At Capgemini As An Associate     Full Time    1
Workshop Incharge   (working remotely)   Part Time    1
Wso2 Developer                           Full Time    1
Name: count, Length: 2417, dtype: int64

### Save the output

In [13]:
# raw.to_excel('Data_salaries_output.xlxs',sheet_name="salaries")
# # 
# with pd.ExcelWriter('Data_salaries_output.xlxs',engine='xlsxwriter') as excel_writer:
#     raw.to_excel(excel_writer, sheet_name='salaries', index=False)
raw.to_csv('Capmpingi_employee_reviews_output.csv')