In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot

### Import Data

In [2]:
raw = pd.read_csv('./Capmpingi_employee_reviews.csv')

### Explore Data

In [3]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26993 entries, 0 to 26992
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                25912 non-null  object
 1   Place                24597 non-null  object
 2   Job_type             11556 non-null  object
 3   Department           22083 non-null  object
 4   Date                 25915 non-null  object
 5   Overall_rating       25898 non-null  float64
 6   work_life_balance    26977 non-null  float64
 7   skill_development    26976 non-null  float64
 8   salary_and_benefits  26947 non-null  float64
 9   job_security         26943 non-null  float64
 10  career_growth        26931 non-null  float64
 11  work_satisfaction    26909 non-null  float64
 12  Likes                23864 non-null  object
 13  Dislikes             22966 non-null  object
dtypes: float64(7), object(7)
memory usage: 2.9+ MB

In [4]:
raw.shape

(26993, 14)

In [5]:
raw.head(2)

,Title,Place,Job_type,Department,Date,Overall_rating,work_life_balance,skill_development,salary_and_benefits,job_security,career_growth,work_satisfaction,Likes,Dislikes
0,Senior Consultant,Pune,Full Time,General Insurance Department,8 Sep 2023,4.0,4.0,3.0,3.0,4.0,4.0,4.0,Deserved candidates are promoted promptly.\nUn...,With designation promotions good salary increm...
1,Senior Software Engineer,"Kolkata, West Bengal",Full Time,Software Development Department,7 Sep 2023,3.0,4.0,4.0,3.0,4.0,4.0,3.0,You got lot of learning platform and monthly l...,You will get fully not tech project.\nThere is...

### Data cleaning

### Data wrangling

#### Rename columns

In [6]:
# new_columns = {
#     'work_life_balance': 'Work_life_balance',
#     'skill_development': 'Skill_development',
#     'salary_and_benefits': 'Salary_and_benefits',
#     'job_security': 'Job_security',
#     'career_growth': 'Career_growth',
#     'work_satisfaction' : 'Work_satisfaction'
# }
raw.rename(columns=str.lower,inplace=True)

#### Replace nans with not responded

In [7]:
raw.replace(np.nan,'No answer',inplace=True )
raw['work_satisfaction'].hasnans

False

#### Convert rating to text in place of number rating

In [8]:
raw['overall_rating'].unique()

array([4.0, 3.0, 1.0, 5.0, 2.0, 'No answer'], dtype=object)

In [9]:
rating = {1:'Not at all',2:'Not so',3:'Normal',4:'Good',5:'Very Good'}

In [10]:
# raw['work_life_balance'].replace(rating,inplace=True)
# raw['skill_development'].replace(rating,inplace=True)
# raw['salary_and_benefits'].replace(rating,inplace=True)
# raw['job_security'].replace(rating,inplace=True)
# raw['career_growth'].replace(rating,inplace=True)
# raw['work_satisfaction'].replace(rating,inplace=True)
raw.replace(rating,inplace=True)
raw.head(5)

,title,place,job_type,department,date,overall_rating,work_life_balance,skill_development,salary_and_benefits,job_security,career_growth,work_satisfaction,likes,dislikes
0,Senior Consultant,Pune,Full Time,General Insurance Department,8 Sep 2023,Good,Good,Normal,Normal,Good,Good,Good,Deserved candidates are promoted promptly.\nUn...,With designation promotions good salary increm...
1,Senior Software Engineer,"Kolkata, West Bengal",Full Time,Software Development Department,7 Sep 2023,Normal,Good,Good,Normal,Good,Good,Normal,You got lot of learning platform and monthly l...,You will get fully not tech project.\nThere is...
2,Senior Consultant,"Bengaluru/Bangalore, Karnataka",Full Time,Software Development Department,6 Sep 2023,Good,Good,Very Good,Normal,Normal,Good,Normal,Based on which Business Unit you are you will ...,Some top level management people bring bad nam...
3,Senior Consultant,"Pune, Maharashtra",Full Time,Banking Operations Department,6 Sep 2023,Not at all,Not so,Good,Not at all,Good,Not at all,Not at all,Some client projects are good as they use the ...,"Culture, micro management, unprofessional beha..."
4,Team Lead,"Noida, Uttar Pradesh",Full Time,IT Infrastructure Services Department,5 Sep 2023,Good,Very Good,Good,Good,Good,Good,Normal,"I have worked in IBM (4 years) ,TCS (1 year) ,...",Medical insurance amount is quite low compare ...

### Save the output

In [11]:
# raw.to_excel('Data_salaries_output.xlxs',sheet_name="salaries")
# # 
# with pd.ExcelWriter('Data_salaries_output.xlxs',engine='xlsxwriter') as excel_writer:
#     raw.to_excel(excel_writer, sheet_name='salaries', index=False)
raw.to_csv('Capmpingi_employee_reviews_output.csv')